<template name="demo">
<div class="panel panel-primary col-md-8">
	<h2 class="text-left">Scenes</h2>
	<h3 class="text-left">场景</h3>

	<p>  </p>
	
	
		


			<ul class="list-group col-md-8 " >
				<li class="list-group-item  active">
					<span class="badge">用户名:密码</span>
					应用场景
				</li>
				<li class="list-group-item  active">
					<span class="badge">demo001:demo001</span>
					Designer 设计沟通: 
				</li>
				<li class="list-group-item  active">
					<span class="badge">demo002:demo002</span>
					MeetingRecord 会议记录: 
				</li>
				<li class="list-group-item  active">
					<span class="badge">demo003:demo003</span>
					Notes 个人笔记:
				</li>
			</ul>

		</div>	
	
</template>