<template name="header">
	
	<ul class="nav nav-tabs">
		<li role="presentation" ><a class="navbar-brand"   href="{{pathFor 'home'}}">Home</a></li>
		<li role="presentation">{{#if currentUser}}<a class="navbar-brand"  role="presentation" href="{{pathFor 'gotomeetingroom'}}">GotoMeeting</a>{{/if}}</li>
		<li role="presentation"><a class="navbar-brand" href="{{pathFor 'userguide'}}">Userguide</a></li>
		<li role="presentation"><a class="navbar-brand" href="{{pathFor 'demo'}}">Demo</a></li>
		<li role="presentation"><a class="navbar-brand" href="{{pathFor 'contactus'}}">ContactUs</a></li>
		<li role="presentation">
			<ul class="nav navbar-nav navbar-right">
				{{> loginButtons}}
			</ul>
		</li>
	</ul>
	
	

</template>