<template name="header">
<div class="collapse navbar-collapse" id="navigation">
<a class="navbar-brand" href="{{pathFor 'home'}}">Home</a>
{{#if currentUser}}<a class="navbar-brand" href="{{pathFor 'gotomeetingroom'}}">GotoMeeting</a>{{/if}}
<a class="navbar-brand" href="{{pathFor 'userguide'}}">Userguide</a>
<a class="navbar-brand" href="{{pathFor 'demo'}}">Demo</a>
<a class="navbar-brand" href="{{pathFor 'contactus'}}">ContactUs</a>
        	<ul class="nav navbar-nav navbar-right">
          {{> loginButtons}}
        	</ul>
     	</div>
	
  		
</template>