<template name="home">
	<div class="panel panel-primary col-md-8">
		<div class="panel-body">
			<h2 class="text-left" >Annuus</h2>
			<ul class="text-left list-group col-md-8 ">
				<li class="list-group-item  active"><span>A meeting platform </span></li>
				<li class="list-group-item  active"><span>Conference Record </span></li>
				<li class="list-group-item  active"><span>PPT showing and comment </span></li>
				<li class="list-group-item  active"><span>3D model presentation </span></li>
				<li class="list-group-item  active"><span>Personal Notes </span></li>
			</ul>	   
		</div>
		<div class="panel-footer">Annuus</div>

	</div>
</template>