<template name="meetingroom">
<div id="toolbar">
		<input type="image"  id="chat"  src="\button\chat.png"/>		
		<input type="image"  id="newnote" accesskey="n" src="\button\newnote.png"/>
		<input type="image"  id="sketch"  accesskey="s" src="\button\sketch.png"/>
		<input type="image"  id="cloud" accesskey="c" src="\button\cloud.png"/>
		<input type="image" id="image"  accesskey="i" src="\button\image.png"/>
		<input type="image"  id="help"  accesskey="k" src="\button\help.png"/>
		</div>
		
<h2>Meeting room</h2>
  		<ul>
  			<li>A meetiong platform </li>
  			<li>Conference </li>
  			<li>PPT showing and comment </li>
  		</ul>	
</template>