
<template name="meetingroom">

	<div id="mainroom" class="container">
			<div class="row">
		  <ul class="nav nav-tab vertical-tab" role="tablist" id="toolbar">

		  <li>
		  	<input type="text" id="message">		
		  </li>
		  <li>
		  	<input type="image"  id="chat" role="tab"
               data-toggle="tab" src="\button\chat.png"/>		
		<input type="image"  id="newnote" role="tab"
               data-toggle="tab" accesskey="n" src="\button\newnote.png"/>
		  </li>
		   <li>
		   	<input type="image"  id="sketch" role="tab"
               data-toggle="tab" accesskey="s" src="\button\sketch.png"/>
		<input type="image"  id="cloud" accesskey="c" src="\button\cloud.png"/>
		   </li>
        <li>
        
       <input type="image" id="image"  accesskey="i" src="\button\image.png"/>
		<input type="image"  id="help"  accesskey="k" src="\button\help.png"/>
        </li>
        <li>
        	<input type="file" id="file"  onchange="readAsDataURL()"/>  
			<input type="submit" 	id="paste" value = "Paste" />
			<input type="submit"   id="sound_rec" value = "Sound" />
			<p id="output"></p>
			<p id="helpmsg">this is help area </p>
        </li>
        	<li>
 	 			<button type= "button" id="scene_id_1st">1st</button>
 	 			<button type= "button" id="scene_id_pre">pre</button>
 	 			<button type= "button" id="scene_id_next">next</button>
 	 			<button type= "button" id="scene_id_last">last</button>
 				</li>
        <li>
        	<div id="current_scene_id" class="current_scene_id">

			<div class="row">
				{{#each current_scene_ids}}
				{{>sceneitem}}
				{{/each}}
 			</div>
 			</div>
        </li>
		  </ul>
<div>
	<canvas id = "mainboard"></canvas>
</div>
<div id="pushmessage">
   {{>messages}}
   </div>
</div> 
   		</div>

  
</template>

<template name="messages">
  	{{#each messages}}
 
    <strong>{{name}}:</strong> {{message}}<br>
  {{/each}}
  </template>