<template name="scene_id">
	
	<li>
		<button id="scene_id_1st" class="glyphicon glyphicon-step-backward" aria-hidden="true"></button>
		<button id="scene_id_last" class="glyphicon glyphicon-step-forward" aria-hidden="true"></button >
	</li>
	<li>
		<button id="scene_id_pre" class="glyphicon glyphicon-backward" aria-hidden="true"></button >

		<button id="scene_id_next" class="glyphicon glyphicon-forward" aria-hidden="true"></button >
	</li>
				<li>
					<div  >

						<p id="current_scene_id">id:{{current_scene_id}}</p>
					</div>
				</li>
</template>
