<template name="toolbar01">
	 <li>
		 	
		 	<button  id="chat" class="glyphicon glyphicon-comment" aria-hidden="true" role="tab"></button> 
		 	
		 	<button   id="newnote" role="tab" class="glyphicon glyphicon-list" aria-hidden="true" ></button>
		 </li>
		 <li>
		 	
		 	<button  id="sketch_draw" class="glyphicon glyphicon-pencil" aria-hidden="true" role="tab"></button> 
		 	
		 	<button   id="cloud" role="tab" class="glyphicon glyphicon-cloud" aria-hidden="true" ></button>
		 </li>
		 <li>
		 	<button  id="zoom_in" class="glyphicon glyphicon-zoom-in" aria-hidden="true" role="tab"></button> 
		 	
		 	<button   id="zoom_out" role="tab" class="glyphicon glyphicon-zoom-out" aria-hidden="true" ></button>
		 </li>
		 <li>

		 	
		 	<button  id="picture"  class="glyphicon glyphicon-picture" aria-hidden="true" role="tab"></button> 
		 	
		 	<button   id="otherfile" role="tab" class="glyphicon glyphicon-file" aria-hidden="true" ></button>
		 </li>
		 <li>
		 	<button  id="paste"  class="glyphicon glyphicon-paste" aria-hidden="true" role="tab"></button> 

		 	<button  id="sound_rec"  role="tab" class="glyphicon glyphicon-signal" aria-hidden="true" ></button>
		 </li>
		 
</template> 